%section.splash
  .container
    .row
      .col.s12.center-align.text-white
        %h1 IVLE on Steroids
        %p Effortlessly manage your modules and timetable.
        = link_to register_path, class: 'waves-effect waves-light btn' do
          REGISTER FOR FREE
