%section.splash
  .container
    .row
      .small-12.columns.text-center
        %h1 IVLE on Steroids
        %p Effortlessly manage your modules and timetable.
        = link_to register_path, class: 'button radius' do
          REGISTER FOR FREE
