// Place all the styles related to the dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$timeline-color: $tuatara
$timeline-mark-size: 24
$timeline-size-padding: 10%

.timeline
  position: relative
  margin: 2em 0
  border-top: 1px solid $iron
  +box-sizing(border-box)
  +clearfix

  .timeline-mark
    display: block
    position: absolute
    $size: rem-calc($timeline-mark-size)
    width: $size
    height: $size
    // center the number
    line-height: $size
    text-align: center
    // center the whole mark along the axis
    +transform(translateX(-50%))
    // set style
    background-color: $primary-color
    color: white
    font-size: rem-calc($timeline-mark-size/2)
    +border-radius(50%)

    $lower: 0
    $upper: 7
    $gap: (100% - $timeline-size-padding)/($upper - $lower + 1)
    @for $i from $lower through $upper
      &.day-#{$i}
        left: $timeline-size-padding + $i*$gap


