$logo-fg: #474747
$logo-line-color: #727272

$topbar-link-indicator-color: $body-font-color

// GLOBAL OVERRIDES
span.highlight
  color: $primary-color

button,
.button,
input[type="submit"]
  border-bottom: 3px solid $amber-800

// LOGO IN TOPBAR
.logo
  font-family: $font-family-alternate
  font-weight: $font-weight-bold
  font-size: rem-calc(48)
  color: $logo-fg
  text-transform: uppercase
  +transform(skewY(-6deg) translateY(.3em))
  $border: 2px solid $logo-line-color
  border-top: $border
  border-bottom: $border
  line-height: 1

  span
    line-height: inherit !important
    font-size: inherit !important

// TOPBAR RIGHT SECTION
.top-bar-section
  ul.right > li
    &.highlight > a
      color: $primary-color

    & > a
      font-family: $font-family-alternate
      text-transform: uppercase

// DEVISE
h2
  font-family: $font-family-alternate
  text-transform: uppercase

// FORM
.field
  position: relative
  $v-padding: 6
  $h-padding: 8

  label
    position: absolute
    top: rem-calc($v-padding)
    left: rem-calc($h-padding)
    color: $charcoal
    font-weight: $font-weight-semibold
    text-transform: uppercase
    font-size: rem-calc(12)

  input[type="text"],
  input[type="email"],
  input[type="password"]
    +border-radius($global-radius)
    height: auto
    $v: rem-calc($v-padding)
    $h: rem-calc($h-padding)
    padding: 2em $h $v $h

    &:focus
      border-color: $primary-color
